/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

:root {
	--player-fill: #FA6D9C;
}

.container {
	display: grid;
	place-content: center;
	width: 100vw;
	height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: column-reverse;
	place-items: center;
}

canvas {
	position: relative;
	z-index: 3;
	width: 800px;
	height: 800px;
	pointer-events: none;
}

.score-container {
	display: grid;
	place-items: center;
	gap: var(--size-2);
}

.score-container .health {
	display: flex;
	gap: var(--size-4)
}

.score-container .health svg,
.score-container .health span {
	--circle-size: var(--size-6);
	width: var(--circle-size);
	height: var(--circle-size);
}

.score-container .health span {
	border: 2px solid var(--player-fill);
	border-radius: var(--radius-round);
}

.score-container .health svg[data-alive=true] {
	color: var(--player-fill);
}
.score-container .health svg[data-alive=false] {
	color: transparent;
}

.score-container .health span[data-alive=true] {
	background-color: var(--player-fill);
}
.score-container .health span[data-alive=false] {
	background-color: transparent;
}

.score-container .score {
	font-size: var(--font-size-fluid-2);
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: optimize-contrast;

	pointer-events: all;
}

canvas:focus {
	outline: none;
}
